@use 'abstracts' as abs;
.treeInfo {
    position:absolute;
    z-index: 1000;
    height: calc(100vh - 60px);
    top: 60px;
    transition: 0.4s ease;
    width: 100%;
    @include abs.respond-to("medium") {
        width: 30%;
    }
    &::before {
        content:"";
        position:absolute;
        width: 100%;
        height: calc(100vh - 60px);
        top: 0;
        background:white;
        opacity: 0.9;
        z-index: -1;
    }
}
.open {
    top: 60px;
    @include abs.respond-to("medium") {
        right: 0;
    }
}

.closed {
    top: 100%;
    @include abs.respond-to("medium") {
        right: -100%;
        top:0;
    }
}