.row {
    display: flex;
    height: 59.5px;
}

.info {
    width: calc(100% / 6);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    font-family: "Arial";
    //max-width: 120px;
}