
.container {
    @media (max-width: 600px) {
        display: flex;
        align-items: center;
        padding: 7px 0 7px 0;
    }
}

.row {
    display: flex;
    min-height: 59.5px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    @media (max-width: 600px) {
        padding: 0 10px 0 10px;
    }
}

.hiddenText {
    @media (min-width: 600px) {
        display: none !important;
    }
}

.placeholderImage {
    min-width: 50px;
    min-height: 50px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
    
    @media (min-width: 600px) {
        display: none;
        
    }
}

.mobileInfo1 {
    // species
    @media (max-width: 600px) {
        width: 50% !important;
        order: 1;
        display: block !important;
        text-align: left !important;
        overflow-wrap: break-word; 
    }
}

.mobileInfo2 {
    // date
    @media (max-width: 600px) {
        width: 50% !important;
        order: 2;   
        display: block !important;
        text-align: right !important;
        font-size: 80%;
        white-space: nowrap;
    }
}

.mobileInfo3 {
    // location
    @media (max-width: 600px) {
        order: 3;
        width: 50% !important;
        font-size: 85%;
        display: block !important;
        text-align: left !important;
    }
}



.info {
    width: calc(100% / 3);
    display: inline-flex;
    justify-content: center;
    font-family: "Arial";
}