.body {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 50%;
    padding-bottom: 1%;
}

.bar {
    border-color: grey;
}

.btn {
    background-color: green; 
    color: white;
    font-size: 18pt;
    border: none;
    border-radius: 30px;
    float: right;
    padding: 2%;
    margin: 3%;
}

.text {
    text-align: left;
    padding: 2%;
}

.names {
    text-align: left;
    font-weight: bold;
    padding-left: 2%;
}